@{
    ViewBag.Title = "Find Your Music";

}
<div class="jumbotron">
    <h1>Hello!</h1>
    <p>
        @*This site helps you to find new artists. Enter few known artists and our smart algorithm will find similar to them!*@
        Cool description...coming soon.
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">OK, let's go!</a></p>
</div>

<div class="search-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="artistInput" placeholder="Artist">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addArtistButton">Add artist</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group list-inline artistsList" style="margin-top: 15px;"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            <a class="btn btn-primary btn-lg" role="button" style="margin: 0 auto; width: 30%;" id="searchButton">SEARCH!</a>
        </div>
    </div>
    <div class="searchResults" style="margin-top: 15px">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <img src="http://userserve-ak.last.fm/serve/500/77646470/lPCFrKD1Ruk.jpg" alt="...">
                    </div>

                    <div class="caption">
                        <a href="http://www.lastfm.ru/music/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82+%D0%A3%D0%B2%D0%B5%D1%87%D1%8C%D0%B5   " target="_blank"><h3>Проект Увечье</h3></a>
                        <p>Рэп-ансамбль эпохи постмодерна. В творчестве эксплуатируется широкий спектр актуальных на сегодняшний день проблем.</p>
                    </div>
                    <div class="progress" style="height: 30px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%; font-size: 72px; line-height: 25px">
                            97%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <img src="http://userserve-ak.last.fm/serve/500/100814575/ATL+EECkl_VQ0Ig.png" alt="...">
                    </div>
                    <div class="caption">
                        <a href="http://www.lastfm.ru/music/ATL" target="_blank"><h3>ATL</h3></a>
                        <p>ATL сосредоточен. “Я фанатею по музлу, книгам, ну и рэп еще пишу”, — отрывисто говорит он. В айпаде у него “Волхв” ...</p>
                    </div>
                    <div class="progress" style="height: 30px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%; font-size: 72px; line-height: 25px">
                            83%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <img src="http://userserve-ak.last.fm/serve/500/58890975/102011.jpg" alt="..." />
                    </div>
                    <div class="caption">
                        <a href="http://www.lastfm.ru/music/%D0%9B%D1%8F%D0%BF%D0%B8%D1%81+%D0%A2%D1%80%D1%83%D0%B1%D0%B5%D1%86%D0%BA%D0%BE%D0%B9" target="_blank"><h3>Ляпис Трубецкой</h3></a>

                        <p>Группа образовалась в феврале 1990 года и дала свой первый концерт на фестивале «Тры колеры» в городе Минск, Беларусь. Лидером с...</p>
                    </div>
                    <div class="progress" style="height: 30px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; font-size: 72px; line-height: 25px">
                            60%
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <img src="http://userserve-ak.last.fm/serve/500/10923145/Daft+Punk+6a00e398210d13883300e55ui6.png" alt="...">
                    </div>
                    <div class="caption">
                        <a href="http://www.lastfm.ru/music/Daft+Punk" target="_blank"><h3>Daft Punk</h3></a>
                        <p>Daft Punk — французский хаус-дуэт, состоящий из Ги-Мануэля де Омем-Кристо (Guy-Manuel de Homem Christo, родился 8 февраля 1974) и...</p>
                    </div>
                    <div class="progress" style="height: 30px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%; font-size: 72px; line-height: 25px">
                            25%
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(".jumbotron").find(".btn").click(function () {
        $(".jumbotron").fadeOut("fast", function () {
            $(".search-body").fadeIn();
        });
    });
    $("#addArtistButton").click(function () {
        if ($("#artistInput").val()) {
            $(".artistsList").append("<li class=\"list-group-item\">" + $("#artistInput").val() + "</li>");
            AddRemoveOnClickEvent($(".artistsList").children().last());
        }
        $("#artistInput").val("").focus();

    });
    $("#artistInput").keypress(function (e) {
        if (e.which == 13) {
            $("#addArtistButton").click();
        }
    });
    $("#searchButton").click(function () {
        $(".searchResults").fadeIn();
    });

    function AddRemoveOnClickEvent(element) {
        $(element).hover(function () {
            //show delete icon
        }, function () {
            //hide delete icon
        });
        $(element).click(function () {
            $(this).remove("span");
            $(this).remove();
        });

    }

</script>
