@{
    ViewBag.Title = "Find Your Music";

}
@section scripts{
    <script src="~/Scripts/index.js"></script>
}
<div class="jumbotron">
    <h1>Hello!</h1>
    <p>
        @*This site helps you to find new artists. Enter few known artists and our smart algorithm will find similar to them!*@
        Cool description...coming soon.
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">OK, let's go!</a></p>
</div>

<div class="search-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="artistInput" placeholder="Artist">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addArtistButton">Add artist</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group list-inline artistsList" style="margin-top: 15px;"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            <a class="btn btn-primary btn-lg" role="button" style="margin: 0 auto; width: 30%;" id="searchButton">SEARCH!</a>
        </div>
    </div>
    <div class="searchResults" style="margin-top: 15px">
        <div class="row">
           
        </div>
    </div>

</div>

